<?xml version="1.0" encoding="UTF-8"?>
<?include PlatformDependentVariables.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="StreamSDR" Language="2057" Version="$(var.Version)" Manufacturer="Orry Verducci" UpgradeCode="$(var.PlatformUpgradeCode)">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit." />
        
        <MediaTemplate EmbedCab="yes" />

        <UIRef Id="WixUI_InstallDir" />

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

        <Feature Id="ProductFeature" Title="StreamSDR">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="INSTALLFOLDER" Name="StreamSDR" />
            </Directory>
        </Directory>

        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="streamsdr.exe" Guid="*">
                <File KeyPath="yes" Source="streamsdr.exe" />
            </Component>
        </ComponentGroup>
    </Product>
</Wix>
