<?xml version="1.0" encoding="UTF-8"?>
<?include PlatformDependentVariables.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="StreamSDR" Language="2057" Version="$(var.Version)" Manufacturer="Orry Verducci" UpgradeCode="$(var.PlatformUpgradeCode)">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit." />
        
        <MediaTemplate EmbedCab="yes" />

        <UIRef Id="WixUI_InstallDir" />
        <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="background.bmp" />
        <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

        <Icon Id="icon.ico" SourceFile="icon.ico" />
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />

        <Feature Id="ProductFeature" Title="StreamSDR">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentRef Id="StartMenuShortcuts" />
        </Feature>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="INSTALLFOLDER" Name="StreamSDR" />
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="StreamSDR" />
            </Directory>
        </Directory>

        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="streamsdr.exe" Guid="*">
                <File KeyPath="yes" Source="streamsdr.exe" />
            </Component>
            <Component Id="libusb_1.0.dll" Guid="*">
                <File KeyPath="yes" Source="libusb-1.0.dll" />
            </Component>
            <Component Id="rtlsdr.dll" Guid="*">
                <File KeyPath="yes" Source="rtlsdr.dll" />
            </Component>
        </ComponentGroup>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="StartMenuShortcuts" Guid="*">
                <Shortcut Id="RtlSdrShortcut"
                          Name="StreamSDR (RTL-SDR)"
                          Description="Server for RTL-SDR software defined radios "
                          Target="[#streamsdr.exe]"
                          Arguments="--radio rtlsdr"
                          WorkingDirectory="APPLICATIONROOTDIRECTORY" />
                <Shortcut Id="SdrPlayShortcut"
                          Name="StreamSDR (SDRplay)"
                          Description="Server for SDRplay software defined radios "
                          Target="[#streamsdr.exe]"
                          Arguments="--radio sdrplay"
                          WorkingDirectory="APPLICATIONROOTDIRECTORY" />
                <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\StreamSDR" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>
    </Product>
</Wix>
