#
# Builds the application and uploads artifacts
#

name: Build Application

on:
  push:
    paths:
      - '.github/workflows/build.yml'
      - 'build/**'
      - 'src/**'
  pull_request:
    paths:
      - '.github/workflows/build.yml'
      - 'build/**'
      - 'src/**'

jobs:
  app-build:
    name: Application Build
    strategy:
      fail-fast: false
      matrix:
        architecture: [x64, arm64]
        os: [windows-latest, macos-latest, ubuntu-latest]
        include:
          - os: windows-latest
            id: win
            script: .\build.ps1
          - os: macos-latest
            id: mac
            script: ./build.sh
          - os: ubuntu-latest
            id: linux
            script: ./build.sh
    runs-on: ${{ matrix.os }}

    permissions:
      actions: read
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: true

      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 6.0.x

      - name: Build libusb
        if: matrix.os == 'windows-latest'
        run: ${{ matrix.script }} --exclusive --architecture ${{ matrix.architecture }} -t BuildLibusb

      - name: Build rtl-sdr
        if: matrix.os == 'windows-latest'
        run: ${{ matrix.script }} --exclusive --architecture ${{ matrix.architecture }} -t BuildRtlSdr

      - name: Build StreamSDR
        run: ${{ matrix.script }} --exclusive --architecture ${{ matrix.architecture }} -t BuildStreamSDR

      - name: Upload artifact
        if: github.ref_name == 'main' && github.event_name == 'push'
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.id }}-${{ matrix.architecture }}
          path: artifacts/${{ matrix.id }}-${{ matrix.architecture }}

  macos-installer-build:
    name: macOS Installer Build
    if: github.repository == 'orryverducci/StreamSDR' && github.ref_name == 'main' && github.event_name == 'push'
    needs: app-build
    runs-on: macos-latest

    permissions:
      actions: read
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Add app signing certificates to Keychain
        uses: apple-actions/import-codesign-certs@v1
        with:
          p12-file-base64: ${{ secrets.MAC_SIGNING_CERTS }}
          p12-password: ${{ secrets.MAC_SIGNING_CERTS_PASSWORD }}

      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 6.0.x

      - name: Download Mac app artifact
        uses: actions/download-artifact@v3
        with:
          name: macos-x64
          path: artifacts/mac-x64

      - name: Sign StreamSDR
        env:
          MAC_SIGNING_CERT_NAME: ${{ secrets.MAC_SIGNING_CERT_NAME }}
        run: "./build.sh --exclusive -t SignApp --appcert \"$MAC_SIGNING_CERT_NAME\""

      - name: Upload app artifact
        uses: actions/upload-artifact@v3
        with:
          name: macos-x64
          path: artifacts/mac-x64

      - name: Create installer package
        env:
          MAC_INSTALLER_CERT_NAME: ${{ secrets.MAC_INSTALLER_CERT_NAME }}
        run: "./build.sh --exclusive -t CreateInstaller --installcert \"$MAC_INSTALLER_CERT_NAME\""

      - name: Notarize the installer package
        env:
          APPLE_DEV_TEAM: ${{ secrets.APPLE_DEV_TEAM }}
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
          MAC_INSTALLER_CERT_NAME: ${{ secrets.MAC_INSTALLER_CERT_NAME }}
        run: "./build.sh --exclusive -t NotarizeInstaller --installcert \"$MAC_INSTALLER_CERT_NAME\" --appleid \"$APPLE_ID\" --applepassword \"$APPLE_ID_PASSWORD\" --teamid \"$APPLE_DEV_TEAM\""

      - name: Upload installer artifact
        uses: actions/upload-artifact@v3
        with:
          name: macos-installer
          path: artifacts/mac-installer

  docker-build:
    name: Docker Image Build
    if: github.repository == 'orryverducci/StreamSDR' && github.ref_name == 'main' && github.event_name == 'push'
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Log in to the container registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build container image
        run: ./build.sh --exclusive -t BuildDockerImage --registry ghcr.io

      - name: Push container
        run: docker push --all-tags ghcr.io/orryverducci/streamsdr
