#
# Checks the formatting of the code using dotnet-format
#

name: Formatting Check

on:
  push:
    paths:
      - 'build/**'
      - 'src/**'
  pull_request:
    paths:
      - 'build/**'
      - 'src/**'

env:
  DOTNET_NOLOGO: true

jobs:
  dotnet-format:
    name: Formatting Check
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Add dotnet-format problem matcher
        uses: renanrcp/dotnet-format-problem-matcher@v.1.3.2

      - name: Run dotnet-format on the app project
        run: dotnet format src/StreamSDR.csproj --verify-no-changes --exclude-diagnostics IL2026

      - name: Run dotnet-format on the build project
        if: success() || failure()
        run: dotnet format build/Build.csproj --verify-no-changes
